apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
<<<<<<< HEAD
          image: krmp-d2hub-idock.9rum.cc/dev-test/repo_1c543803f298
=======
          image: krmp-d2hub-idock.9rum.cc/dev-test/repo_346149c19662
>>>>>>> main
          env:
          - name: REACT_APP_OPENAI_API_KEY
            valueFrom:
              secretKeyRef:
                name: react-secrets
                key: REACT_APP_OPENAI_API_KEY

          - name: REACT_APP_BASE_URL
            valueFrom:
              secretKeyRef:
                name: react-secrets
                key: REACT_APP_BASE_URL